[Service]
User=root
Group=root
WorkingDirectory=/root/go/src/cdr-pusher
ExecStart=/root/go/src/cdr-pusher/app.exe
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target

Description=cdr-pusher
After=network.target